<form {{action "setPassword" on="submit"}} autocomplete="nope">

  <div class="form-row">
  {{#if showPassword}}
    <div class="form-group col-md-8">
      <label for="password">New Password</label>
      <div class="input-group">
        {{input id="password" tabindex=1 class="form-control" minlength="6" type="text" value=password autocomplete="new-password"}}
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" title="Hide Password" {{action "togglePassword"}}>
            {{entypo-icon "lock"}}
          </button>
        </div>
      </div>
    </div>
  {{else}}
    <div class="form-group col-md-4">
      <label for="password">New Password</label>
      <div class="input-group">
        {{input id="password" tabindex=1 class="form-control" minlength="6" type="password" value=password autocomplete="new-password"}}
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" title="Show Password" {{action "togglePassword"}}>
            {{entypo-icon "lock-open"}}
          </button>
        </div>
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="confirm">Confirm Password</label>
      {{input id="confirm" tabindex=2 class="form-control" type="password" value=confirm autocomplete="new-password"}}
    </div>
  {{/if}}
    <div class="form-group col-md-4">
      <label for="strength">Strength</label>
      {{input type="text" readonly=true class=strengthClasses value=strengthText}}
    </div>
  </div>
  <div class="form-row">
    {{input type="submit" class=buttonClasses disabled=isDisabled value="Change Password"}}
  </div>
</form>
