<div class="card mb-5">
  <div class="card-body">
    <h5 class="card-title">Hello, {{ user.model.givenName }}!</h5>
    <p class="card-text">Welcome to the HYDRA Content Engine.</p>
    <p class="card-text">In vitae finibus elit. Integer eros magna, vehicula quis consectetur non, molestie malesuada lorem. Sed sit amet ex volutpat ex dictum interdum. In sit amet gravida erat, in facilisis velit. Donec quam ante, gravida eget nulla ac, dapibus efficitur dolor. Suspendisse lacinia accumsan mauris, vitae porttitor orci feugiat sit amet. Donec condimentum porttitor magna laoreet venenatis. Aenean tempor euismod vehicula.</p>
  </div>
</div>

{{#each user.organizations as |org|}}
  {{#-organization/header organization=org size="medium"}}

  <p class="card-text text-muted">Projects</p>
  <ul class="nav justify-content-start">
  {{#each org.projects as |project|}}
    {{#link-to "project.index" project.id class="nav-item nav-link"}}
      {{ project.name }}
    {{/link-to}}
  {{/each}}
  </ul>

  {{/-organization/header}}
{{/each}}

<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">Getting Started</h5>
    <p class="card-text">Make the most of your content engine. Follow the steps below to get started in no time!</p>
    <ul class="list-group list-group-flush">
      {{-task
        completed=(if user.hasPassword true)
        route="settings"
        title="Secure your account"
        description="Set a password for your account to ensure you can login from any device."
      }}
      {{-task
        completed=(if user.organization true)
        route="organization.create"
        title="Create an organization"
        description="An organization houses your projects, provides access control for team members, and unifies billing and global settings."
      }}
      {{-task
        completed=(if user.organization.projects true)
        route='organization.projects.create'
        routeParam=user.organization.id
        title="Create a project"
        description="A project is a container inside your organization that allows you to segment out both structure and content itself. A project provides read-level API keys to allow your appliations to retrieve your content."
      }}
      {{-task
        completed=(if (gt user.model.memberships.length 1) true)
        route="organization.team"
        routeParam=user.organization.id
        title="Stop. Collaborate and listen."
        description="Collaboration with your team is key. Invite users to join your organization from your settings page."
      }}
      {{-task
        completed=(if user.project.hasStructure true)
        route="project.structure"
        routeParam=user.project.id
        title="Define your structure"
        description="Your content structure defines how your models interact. Modify your structure to interconnnect your data in new ways."
      }}
      {{-task
        completed=(if user.project.hasContent true)
        route="project.content"
        routeParam=user.project.id
        title="Put the word out!"
        description="Create your content after defining your project's structure"
      }}
      {{-task
        completed=(if user.hasKey true)
        route="settings"
        title="Retrieve your content"
        description="Create an API key to retrieve your content from other applications."
      }}
    </ul>
  </div>
</div>

<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">Help!</h5>
    <h6 class="card-subtitle mb-2 text-muted">Documentation and learning resources</h6>
    <p class="card-text">Duis vel diam at metus pulvinar ornare id a tortor. Proin mollis lacinia odio ut varius. Mauris sed quam et turpis maximus mattis vitae sit amet lorem. Quisque nec dapibus neque. Integer nunc ipsum, elementum sit amet vestibulum vestibulum, faucibus nec tellus. Ut laoreet est at neque convallis tempus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam accumsan felis ac est sagittis blandit. Fusce pharetra elementum libero, non finibus augue ornare eget. Etiam eu dapibus tortor. Cras vestibulum congue pharetra. Suspendisse sit amet metus id nisl vehicula facilisis at a dolor. Fusce lacus eros, ullamcorper at pharetra quis, pulvinar eget magna. Cras egestas dictum arcu, nec dapibus nunc faucibus sed.</p>
    <p class="card-text">Mauris vehicula aliquet condimentum. Mauris auctor, velit ut fermentum tristique, diam dolor ultrices urna, facilisis varius ipsum massa non nisi. Sed consequat volutpat est, ac molestie ante fringilla facilisis. Mauris euismod erat a tempor ultrices. Pellentesque ac varius risus, vestibulum rutrum velit. Proin dapibus elit sed nulla mattis, placerat pretium sapien tristique. Nunc euismod mauris eu massa faucibus, in pulvinar sem venenatis. Nullam eu laoreet magna. Nullam dapibus purus malesuada enim condimentum, ac dictum orci ultricies. Ut mauris justo, pulvinar ut fringilla id, vehicula ac mauris. Integer pellentesque, urna a dapibus vulputate, sapien dolor pellentesque purus, facilisis blandit arcu arcu consectetur nisi. Suspendisse ornare feugiat dui, ac iaculis tellus cursus vel. Nulla vel nisi augue. Nullam eu lacus in arcu sodales pretium.</p>
  </div>
</div>
