<div class="container mt-5">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <div class="jumbotron">
        <small class="float-right text-muted">
          {{#link-to "signup"}}Need an account?{{/link-to}}<br>
          {{#link-to "reset"}}Forgot password?{{/link-to}}
        </small>
        <h3>Sign In</h3>
        <hr class="m-y-1">
        {{#if showPassword}}
        <form {{action "authenticate" on="submit"}}>
          <div class="form-group">
            <label for="username">Email Address</label>
            {{input id="username" class="form-control" type="email" value=username required=true autofocus=true}}
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            {{input id="password" class="form-control" type="password" required=true value=password}}
          </div>
          <button type="submit" class="btn btn-primary btn-block">Sign in</button>
        </form>
        {{else}}
        <form {{action "magicLogin" on="submit"}}>
          <div class="form-group">
            <label for="username">Email Address</label>
            {{input id="username" class="form-control" type="email" value=username required=true autofocus=true}}
          </div>
          <button type="submit" class="btn btn-primary btn-block">Sign in via Email</button>
        </form>
        {{/if}}
        <p class="text-center text-muted">
          <button class="btn btn-link button btn-sm" {{action "togglePassword"}}>
            {{#if showPassword}}
              Sign in with a magic link
            {{else}}
              Sign in with a password
            {{/if}}
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
